@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  padding-left: 151px;
  padding-right: 100px;
  font-family: Poppins;
  font-weight: 500;
  background: url(../../imgs/Decore.svg);
  background-repeat: no-repeat;
  background-position: right top;
}

figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #212832;
}

button {
  cursor: pointer;
}

.head {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head .header-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  font-size: 17px;
  font-weight: 400;
}
.head .material-symbols-outlined {
  font-size: 14px;
  color: #212832;
}
.head .header-button {
  min-width: 102px;
  background: none;
  border-radius: 5px;
  border: 2px solid #212832;
  padding: 9px 0;
}
.head .header-button:hover {
  border: 3px dotted #DF6951;
  color: #DF6951;
}

.tittle {
  margin-top: 61px;
  background: url(../../imgs/plane.svg);
  background-repeat: no-repeat;
  background-position-x: 537px;
  background-position-y: 2px;
}
.tittle-figura {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tittle-item {
  margin-top: 12px;
}
.tittle-p {
  color: #DF6951;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.tittle-h1 {
  color: #181E4B;
  font-family: Volkhov;
  font-size: 84px;
  font-weight: 700;
  line-height: 89px;
  letter-spacing: -3.36px;
  margin-bottom: 30px;
}
.tittle-p-built {
  color: #5E6282;
  font-size: 16px;
  line-height: 30px;
}
.tittle-button {
  min-width: 170px;
  padding: 18px 0;
  margin-right: 44px;
  color: white;
  background-color: #F1A501;
  border: 1px solid #F1A501;
  border-radius: 10px;
  box-shadow: 0px 20px 35px 0px rgba(241, 165, 1, 0.15);
  font-size: 18px;
}
.tittle-traveller {
  margin: 0 auto;
  position: absolute;
  right: 101px;
  top: 84px;
}
.tittle-traveller:hover {
  transform: translateX(2000px);
  transition: 1s;
}
.tittle-plane {
  padding: 0 0;
  margin-bottom: 341px;
  margin-right: -23px;
}
.tittle #axis:hover .move-ne {
  transform: translate(350px, -350px);
  -webkit-transform: translate(350px, -350px);
  -o-transform: translate(350px, -350px);
  -moz-transform: translate(350px, -350px);
}
.tittle .material-symbols-outlined1 {
  color: white;
  background: url(../../imgs/Ellipse\ 8.svg);
  background-size: 77px;
  background-position-x: -12px;
  background-position-y: -2px;
  background-repeat: no-repeat;
  font-size: 52px;
}

.offer {
  height: 638px;
  margin-top: 222px;
  background: url(../../imgs/red.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-position-x: 279px;
  background-position-y: 423px;
}
.offer-hp {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.offer-p {
  color: #5E6282;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
}
.offer-h {
  color: #14183E;
  font-family: Volkhov;
  font-size: 50px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}
.offer-service {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}
.offer-ficaption {
  color: #5E6282;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
}
.offer h3 {
  color: #1E1D4C;
}
.offer-Flights {
  min-width: 267px;
  min-height: 314px;
  background-color: white;
  border-radius: 36px;
  box-shadow: 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0), 0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01), 0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}
.offer-plus {
  margin-left: 1087px;
  margin-bottom: -163px;
}
.offer .underword img {
  position: absolute;
  bottom: 572px;
}
.offer .container span {
  position: relative;
}

.selling {
  padding: 0 0;
  height: 824px;
  background: url(../../imgs/line.svg);
  background-repeat: no-repeat;
  background-position-x: 1043px;
  background-position-y: 324px;
}
.selling .selin {
  justify-content: center;
}
.selling .material-symbols-outlined2 {
  color: black;
  font-size: 20px;
}
.selling-country {
  margin-left: 36px;
  width: 314px;
  height: 457px;
  border-radius: 24px;
  box-shadow: 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0), 0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01), 0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}
.selling-country:hover {
  transform: scale(0.7);
  transition: 1s;
}
.selling-figcapt {
  position: absolute;
  background-color: white;
  width: 315px;
  height: 130px;
  border-radius: 0px 0px 24px 24px;
}
.selling-img {
  width: 314px;
  height: 457px;
}
.selling-figure {
  position: relative;
  height: 332px;
}
.selling-p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #5E6282;
  font-size: 18px;
  line-height: 124.5%;
}
.selling-trip {
  color: #5E6282;
  font-size: 16px;
  line-height: 124.5%;
}
.selling-days {
  display: flex;
  justify-content: start;
}

.book {
  height: 723px;
}
.book-all {
  display: flex;
  justify-content: space-evenly;
  background: url(../../imgs/back.svg);
  background-repeat: no-repeat;
  background-position-x: 753px;
  background-position-y: 8px;
}
.book-display {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 21px;
}
.book-h {
  margin-top: 31px;
  margin-bottom: 4px;
  color: #5E6282;
  font-size: 16px;
  font-weight: 700;
  line-height: 124.5%;
}
.book-p {
  margin-top: 0;
  color: #5E6282;
  font-size: 16px;
  font-weight: 400;
  line-height: 124.5%;
}
.book-travel {
  margin-top: 107px;
}
.book-greece {
  position: relative;
  height: 400px;
  width: 370px;
  border-radius: 26px;
  background-color: #FFF;
  box-shadow: 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0), 0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01), 0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}
.book .greece-img {
  margin-left: 25px;
  margin-left: 24px;
  margin-top: 20px;
}
.book .greece-img-p {
  padding-left: 25px;
  color: #080809;
  font-size: 18px;
  line-height: 124.5%;
  letter-spacing: 0.27px;
}
.book .greece-img-span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 13px;
  padding-left: 25px;
  padding-bottom: 21px;
  color: #84829A;
  font-size: 16px;
  line-height: 124.5%;
  letter-spacing: -0.08px;
}
.book .greece-img-building {
  display: flex;
  gap: 15px;
  align-items: center;
  padding-top: 29px;
  padding-left: 25px;
  color: #84829A;
  font-size: 16px;
  line-height: 124.5%;
  letter-spacing: -0.32px;
}
.book .line {
  border-left: 3px solid #EEEFF2;
  height: 16px;
  left: 50%;
  margin-left: -3px;
  margin-top: 16px;
}
.book .material-symbols-outlined2 {
  background: url(../../imgs/Ellipse\ 4.svg);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position-x: 17px;
  background-position-y: -1px;
  font-size: 22px;
  padding-left: 18px;
}
.book .material-symbols-outlined3 {
  color: grey;
  font-size: 22px;
}
.book .material-symbols-outlined4 {
  font-size: 22px;
  color: #4152CA;
  padding-left: 121px;
}
.book .india {
  border-radius: 50px;
}
.book .absollut-hp {
  margin-left: 25px;
}
.book .absollut-hp-absolut {
  position: absolute;
  width: 262px;
  height: 129px;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  top: 2723px;
  right: 85px;
  border-radius: 18px;
  background: var(--white, #FFF);
  box-shadow: 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0), 0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01), 0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}
.book .absollut-hp-p {
  color: #84829A;
  font-size: 14px;
  line-height: 124.5%;
  letter-spacing: -0.49px;
}
.book .absollut-hp-h {
  color: #080809;
  font-size: 18px;
  line-height: 124.5%;
  letter-spacing: -0.27px;
  margin-bottom: 14px;
  margin-top: 6px;
}
.book .loading {
  color: #8A79DF;
  font-size: 14px;
  line-height: 124.5%;
  letter-spacing: -0.77px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.book .completed {
  color: #080809;
  font-size: 14px;
  line-height: 124.5%;
  letter-spacing: -0.77px;
}

.review {
  background: url(../../imgs/AVATAR.svg);
  background-repeat: no-repeat;
  background-position-x: 494px;
  background-position-y: 0px;
  padding-top: 124px;
}
.review-all {
  display: flex;
  justify-content: space-evenly;
  gap: 100px;
}
.review .img-review {
  margin-top: 82px;
}
.review .chris {
  width: 502px;
  height: 232px;
  padding-top: 156px;
  padding-left: 34px;
  border-radius: 10px;
  border: 2px solid var(--border-color, #F7F7F7);
  box-shadow: 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0), 0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01), 0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}
.review .coment-h {
  margin-top: 0;
  margin-bottom: 0;
  color: #5E6282;
  font-size: 18px;
  font-weight: 600;
}
.review .coment-p {
  margin-top: 6px;
  color: #5E6282;
  font-size: 14px;
}
.review-absolut {
  position: absolute;
  top: 3194px;
  right: 182px;
  padding-top: 28px;
  padding-left: 34px;
  width: 504px;
  height: 245px;
  border-radius: 10px;
  background: var(--white, #FFF);
  box-shadow: 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0), 0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01), 0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}

.photo {
  padding-top: 113px;
}
.photo-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.photo .shadow-text:hover {
  color: #ffa000; /* Меняем цвет текста */
  -webkit-text-shadow: 2px 2px 2px #000;
  -moz-text-shadow: 2px 2px 2px #000;
  text-shadow: 2px 2px 2px #000;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.photo .axon {
  filter: grayscale(1);
  transition: transform 3s linear;
}
.photo .axon:hover {
  filter: grayscale(0);
  transform: rotate(380deg);
  transition: 1s;
}

.email {
  height: 407px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 20px 129px 20px 20px;
  background: url(../../imgs/ffff.svg);
}
.email-h {
  color: #5E6282;
  text-align: center;
  font-size: 33px;
  font-weight: 600;
  line-height: 54px;
}
.email ::placeholder {
  color: #39425D;
  font-size: 14px;
  font-weight: 400;
  padding-left: 60px;
  background: url(../../imgs/message.svg);
  background-repeat: no-repeat;
  background-position-x: 31px;
  background-size: 18px;
}
.email input {
  width: 422px;
  height: 61px;
  border: 1px solid white;
  border-radius: 10px;
}
.email-button {
  min-width: 180px;
  border-radius: 10px;
  background: var(--gradient, linear-gradient(180deg, #FF946D 0%, #FF7D68 100%));
  border: 1px solid #FF946D;
  padding: 22px 0;
  color: #FFF;
  font-size: 17px;
  font-weight: 600;
  margin-left: 24px;
}
.email-button:hover {
  transform: skew(0.987rad);
  transition: 1s;
}

.footer {
  padding-top: 166px;
}
.footer-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.footer-social {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer-p {
  color: #5E6282;
  font-size: 13px;
  line-height: 124.5%;
}
.footer-li {
  color: #5E6282;
  font-size: 18px;
  line-height: 124.5%;
}
.footer-contact-p {
  color: #5E6282;
  font-size: 20px;
  line-height: 124.5%;
  letter-spacing: 0.1px;
}
.footer-inst {
  height: 23px;
  width: 23px;
}
.footer .inst {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 68px;
  width: 61px;
  align-items: center;
  background: url(../../imgs/Background.png);
  background-position: center;
  background-size: 57px;
  background-repeat: no-repeat;
  background-position-x: 0px;
  background-position-y: 0px;
}

/*# sourceMappingURL=homepage.css.map */
